.account_padding {
  padding-top: 160px;
  padding-bottom: 70px;
  @media (min-width: 768px) {
    padding-top: 195px;
  }
}
.burger-menu {
  margin: 0 auto;
  display: block;
  transition: all 0.3s;
  cursor: pointer;
  pointer-events: all;
  width: 30px;
  height: 30px;
  margin: auto;
  padding-top: 4px;
  .bar {
    transition: all 0.3s;
    height: 2px;
    width: 100%;
    display: block;
    background-color: white;
  }
  .bar:nth-of-type(2) {
    margin: 8px 0;
  }
  &--closed {
    transition-delay: 0.3s;
    .bar {
      float: right;
    }
    .bar:nth-of-type(2) {
      width: 75%;
      transition-property: margin, height, width;
      transition-delay: 0.3s, 0.3s, 0s;
    }
    .bar:nth-of-type(3) {
      width: 50%;
    }
    &:hover {
      .bar:nth-of-type(2) {
        width: 100%;
      }
      .bar:nth-of-type(3) {
        width: 100%;
      }
    }
  }
  &--opened {
    padding-top: 12px;
    .bar:nth-of-type(1) {
      transform: rotate(45deg);
      transition-delay: 0.3s;
      height: 2px;
    }
    .bar:nth-of-type(2) {
      opacity: 0;
      height: 0;
      margin: -3px;
    }
    .bar:nth-of-type(3) {
      transform: rotate(-45deg);
      transition-delay: 0.3s;
      height: 2px;
    }
  }
}
.account-header {
  position: absolute;
  top: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  height: 80px;
  align-items: center;
  left: 0;
  right: 0;
  @media (min-width: 768px) {
    top: 80px;
    height: 80px;
  }
  &__order {
    display: flex;
  }
  &__sum {
    padding-right: 10px;
    padding-left: 10px;
    pointer-events: all;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
    @media (min-width: 768px) {
      padding-right: 20px;
      padding-left: 20px;
    }
    img {
      width: 30px;
    }
  }
  &__cart {
    width: 30px;
    position: relative;
    pointer-events: all;
    transition: 0.5s;
    &:hover {
      transform: scale(1.1);
    }
    img {
      width: 100%;
    }
  }
  &__burger {
    z-index: 101;
    position: relative;
  }
  &_num {
    position: absolute;
    background: #e86300;
    width: 17px;
    height: 17px;
    font-size: 10px;
    border-radius: 50%;
    padding-top: 2px;
    text-align: center;
    top: -3px;
    right: -7px;
  }
}

.menu-changer {
  background: $primary;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  opacity: 0;
  z-index: 100;
  right: -100vw;
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
    li {
      padding: 10px;
      &:last-child {
        padding-top: 30px;
      }
    }
  }
  &__link {
    pointer-events: all;
    &:hover {
      font-weight: bold;
    }
  }
}
.order {
  &__h {
    text-align: center;
    display: block;
  }
  @media (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media (min-width: 1440px) {
    margin-bottom: 100px;
  }
}
.order-slider {
  &__h {
    position: relative;
    z-index: 5;
    @media (min-width: 768px) {
      margin-top: 10px;
      margin-bottom: 20px;
      display: block;
    }
  }
  .slick-track {
    height: 100%;
    display: flex;
  }
  .slick-list {
    overflow: visible;
  }
  .slick-slide {
    pointer-events: none;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    &:nth-child(3),
    &:nth-child(4) {
      overflow: visible;
    }
    height: 400px;
    @media (min-width:768px){
      height: 470px;
    }
    @media (min-width: 1440px) {
      height: 500px;
    }
  }
  .slick-arrow {
    top: 105%;
    z-index: -1;
    transition: 0.5s;
    opacity:0;
    @media (min-width: 768px) {
      top: 105%;
    }
    &:before {
      content: none;
    }
  }
  .slick-prev {
   // left: 0;
    left: 25%;
    transform: translateX(25%);
    @media (min-width:500px){
      left: 32%;
      transform: translateX(32%);
    }
    @media (min-width:768px){
      left: 34%;
      transform: translateX(34%);
    }
    @media (min-width:1024px){
      left: 38%;
      transform: translateX(38%);
    }
    @media (min-width:1440px){
      left: 41%;
      transform: translateX(41%);
    }
  }
  .slick-next {
    //right: 70px;
    right: 46%;
    transform: translateX(46%);
    // @media (min-width: 768px) {
    //   right: 100px;
    // }
  }
  .slick-disabled {
    .order-slider__btn {
      color: $gray_light;
      .top,
      .left,
      .right,
      .bottom {
        background: linear-gradient(90deg, transparent, $gray_light);
      }
    }
  }
}
.location-slider {
  z-index: 1;
  pointer-events: none;
  margin-left: -20px;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  @media (min-width: 768px) {
    margin-left: -50px;
  }
  .slick-arrow {
    top: 45%;
    transform: translateY(-45%);

  }
  .slick-list {
    //  width: 100vw;
    overflow: visible;
  }
  .slick-next {
    pointer-events: all;
    z-index: 3;
    right: 5%;

    &::before {
      visibility: hidden;
      content: url(../img/arrow.png);

      // @media (min-width: 768px){
      visibility: visible;
      // }
    }
  }
  .slick-prev {
    pointer-events: all;
    z-index: 3;
    left: 70px;
    @media (min-width: 768px) {
      left: 90px;
    }
    @media (min-width: 1440px) {
      left: 110px;
    }
    transform: rotate(180deg);
    &::before {
      visibility: hidden;
      content: url(../img/arrow.png);

      // @media (min-width: 768px){
      visibility: visible;
      // }
    }
  }
  .slick-slide {
    height: 400px;
    padding-left: 20px;
    @media (min-width: 768px) {
      padding-left: 50px;
    }
    @media (min-width: 1024px) {
      height: 400px;
    }
    @media (min-width: 1440px) {
      height: 500px;
    }
  }

  img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.5s;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);
  }
  &__img {
    display: flex;
    height: 100%;
    overflow: hidden;
  }
  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 5%;
    max-width: 500px;
    margin: auto;

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    top: 60%;
    transform: translate(-50%, -50%);
    left: 55%;
    right: 0;
  }
  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 34%, rgba(252, 70, 70, 0) 100%);
  }
  &__description {
    color: $gray_light;
  }
  &__slide {
    position: relative;
    pointer-events: all !important;
    transition: 0.3s ease;
    overflow: hidden;
    padding-top: 20px;
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  &__check {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: $checked;
    display: none;
    -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 90%);
    img {
      width: 60px;
      margin: auto;
      //height: 100%;
      object-fit: contain;
    }
  }
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
  color: $white;
}
.place-table {
  pointer-events: none;
  color: $white;
  margin-top: 10px;
  margin-bottom: 10px;
  th {
    pointer-events: all;
    cursor: pointer;
  }
  tr {
    vertical-align: middle;
    transition: 0.5s;
    @media (min-width: 1440px) {
      height: 66px;
    }
  }
  tr td:nth-child(3) {
    text-align: center;
    pointer-events: all;
  }
  tr td:nth-child(2) {
    width: 100%;
    padding-left: 20px;
  }
  tr td:nth-child(1) {
    width: 5%;
    text-align: center;
  }
  td,
  th {
    border: 1px solid $white;
    position: relative;
  }
  &__pagination {
    li {
      pointer-events: all;
      color: $white;
      padding: 10px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        font-weight: bold;
        transform: scale(1.1);
        color: $white;
      }
    }
    .active {
      color: $white;
      font-weight: bold;
    }
  }
  &_arrow {
    color: $white;
a{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
  }

  &__check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: $checked;
    display: none;
    top: 0;
    left: 0;

    img {
      width: 30px;
      margin: auto !important;
    }
  }
}

.date-table {
  background: transparent;
  pointer-events: all;
  position: relative;
  margin-top: 20px;
  margin-bottom: 50px;
  &__check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: $checked;
    display: none;
    img {
      width: 20px;
      margin: auto;
    }
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .group {
    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
  }

  a {
    text-decoration: none;
  }

  table {
    clear: both;
    width: 100%;
    border-collapse: collapse;
  }
  td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid $white;
    width: 100% / 7;
    position: relative;
  }
  tbody td {
    transition: all 0.3s ease;
    pointer-events: all;
    cursor: pointer;
    &:hover {
      transform: scale(1.2);
      font-weight: bold;
    }
  }
  td.not-current {
    opacity: 0.5;
  }
  td.today {
    font-weight: 700;
  }
  thead td {
    border: none;
    color: $white;
    text-transform: uppercase;
    @media (min-width: 768px) {
      padding: 4%;
    }
    @media (min-width: 1024px) {
      padding: 3%;
    }
  }
  #btnPrev {
    float: left;
    position: absolute;
    margin-bottom: 0;
    left: 0;
    top: 0;
    &:before {
      content: "\f104";
      padding-right: 4px;
    }
  }
  #btnNext {
    float: right;
    position: absolute;
    right: 0;
    margin-bottom: 0;
    top: 0;
    &:after {
      content: "\f105";
      padding-left: 4px;
    }
  }
  #btnPrev,
  #btnNext {
    background: transparent;
    border: none;
    outline: none;
    color: $gray_light;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    pointer-events: all;
    z-index: 2;
    &:hover {
      color: $white;
      font-weight: bold;
    }
  }
}

.time-table {
  margin-top: 10px;
  &__ul {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  &__li {
    padding: 1% 2%;
    border: 1px solid white;
    margin-right: 2%;
    width: 18%;
    margin-bottom: 2%;
    text-align: center;
    transition: all 0.3s ease;
    pointer-events: all;
    position: relative;
    &:hover {
      transform: scale(1.05);
      font-weight: bold;
    }
  }
  &__sum {
    text-align: right;
    display: block;
    margin-right: 3%;
  }
  &__check {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    background: $checked;
    display: none;
    left: 0;
    img {
      width: 20px;
      margin: auto;
    }
  }
}

.result-content {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    pointer-events: none;
  }
  &__title {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
  &__subtitle {
    color: $gray_light;
    pointer-events: none;
  }
  &__btn {
    display: flex;
  }
  &__link {
    margin-left: auto;
    margin-right: auto;
  }

  .order-slider__h {
    text-align: center;
    display: block;
  }

  ul li {
    position: relative;
    margin-bottom: 10px;
  }
  ul li input[type="radio"] {
    position: absolute;
    visibility: hidden;
    pointer-events: all;
  }

  ul li label {
    display: block;
    position: relative;
    z-index: 9;
    cursor: pointer;
    transition: all 0.25s linear;
    padding-left: 30px;
    padding-top: 8px;
    color: $gray_light;
    pointer-events: all;
  }

  ul li:hover label {
    color: $gray_light;
  }

  ul li .check {
    display: block;
    position: absolute;
    border: 2px solid $gray_light;
    top: 7px;
    height: 25px;
    width: 25px;
    z-index: 5;
    transition: border 0.25s linear;
    -webkit-transition: border 0.25s linear;
    pointer-events: all;
  }

  ul li .check::before {
    display: block;
    position: absolute;
    content: "✓";
    border-radius: 100%;
    height: 15px;
    width: 15px;
    margin: auto;
    transition: 0.25s linear;
    -webkit-transition: 0.25s linear;
    font-size: 30px;
    top: -10px;
    visibility: hidden;
  }
  input[type="radio"]:checked ~ .check {
    border: 2px solid $white;
  }
  input[type="radio"]:checked ~ label {
    color: $white;
  }
  input[type="radio"]:checked ~ .check::before {
    visibility: visible;
  }
  &__payment {
    margin-top: 20px;
    ul {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    li {
      padding-right: 2px;
      padding-left: 2px;
      @media (min-width: 768px) {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
  }
}
.result-modal {
  justify-content: center;
  &__content {
    background-color: $primary;
    box-shadow: 0 0 5px $white, 0 0 25px $white, 0 0 50px $white, 0 0 200px $white;
    max-width: 300px;
    width: 100%;
  }
  &__body {
    text-align: center;
    a {
      text-decoration: underline;
    }
  }
  &__close {
    background: transparent url("../img/cross.svg") center/1em auto no-repeat;
    right: 10px;
    top: 10px;
    position: absolute;
  }
}

.account-cloud {
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 100%;
  bottom: 0;
  opacity: 0.5;
  max-height: 1000px;
  @media (min-width: 768px) {
    width: 60%;
  }
}
.header-hr {
  position: absolute;
  width: -webkit-fill-available;
  max-width: 1920px;
  top: 80px;
  margin: 0;
  background: $white;
  opacity: 1;
  margin-left: 24px;
  margin-right: 24px;
  @media (min-width: 768px) {
    margin-left: 24px;
    margin-right: 24px;
  }
  @media (min-width: 992px) {
    margin-left: 50px;
    margin-right: 50px;
  }
  @media (min-width: 1200px) {
    margin-left: 100px;
    margin-right: 100px;
  }

  @media (min-width: 1400px) {
    margin-left: 150px;
    margin-right: 150px;
  }
  @media (min-width: 1700px) {
    margin-left: 240px;
    margin-right: 240px;
  }
}

.date-time {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;

  .select-hidden {
    display: none;
    visibility: hidden;
    padding-right: 10px;
  }
  .select {
    pointer-events: all;
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: $white;
    width: 220px;
    height: 40px;
    margin-bottom: 20px;
  }
  .select-styled {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $primary;
    padding: 8px 15px;
    border: 1px solid $white;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-color: $white transparent transparent transparent;
      position: absolute;
      top: 16px;
      right: 10px;
    }
    &:hover {
      //   background-color: darken($primary, 2);
    }
    &:active,
    &.active {
      // background-color: darken($primary, 5);
      &:after {
        top: 9px;
        border-color: transparent transparent $white transparent;
      }
    }
  }
  &__date {
    -webkit-appearance: none;
    pointer-events: all;
    background: transparent;
    background-color: $primary;
    color: $white;
    padding-left: 15px;
    border: 1px solid $white;
    width: 220px;
    height: 40px;
    margin-bottom: 20px;
    &:focus-visible {
      outline: none;
    }
    &::-webkit-calendar-picker-indicator {
      filter: invert(1);
      margin-right:10px;
      opacity: 0;
    }
  }
  &__custom{
    position: relative;
  }
  &__icon{
    position: absolute;
    right: 5px;
    top: 8px;
    width: 25px;
    pointer-events: none;
    img{
      width: 100%;
    }
  }
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $primary;
  max-height: 300px;
  overflow: scroll;
  border: 1px solid $white;
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border: 1px solid $white;
    &:hover,
    &.is-selected {
      // color: transparent;
      background: $primary;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}
